.container {
  width: 500px;
  height: 800px;
  background-color: green;
  overflow: hidden;
}
.circle{
  position: absolute;
  top: 50%;
  left: 0%;
  /* transform: translate(-50%,-50%); */
  /* transform: translate(-100%); */
  height: 100px;
  width: 100px;
  background-color: blue;
  border-radius: 100%;
}

.square {
  float: right;
  left: 10%;
  position: relative;
  height: 100px;
  width: 100px;
  background-color: red;
}

.animate {
  animation: trigger-animation 2s ease-in-out forwards;
}

#replay {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes trigger-animation{
  0%{

  }
  100%{
    transform: translateX(1000%);
  }
}

/* 
================================
A sample transition.
Click on the large ball on the left to see the animation.
*/
.anim:active .ball-one {
  left: 150px;

  transition: left .5s ease-in;
}

/* 
================================
Your code here! 
Make the small ball on the right roll to the right when the large one hits it.

*/
.anim:active .ball-two {
  /* Hint: manipulate margin-left to roll it, just like with the ball-one above. */
  margin-left: 100px;
  transition-property: margin;
  transition-duration: .3s;
  transition-delay: .4s;
  /* Double hint: Don't forget about transition-delay! */

}


/* 
================================
Necessary CSS Below-- no need to edit */

.ball-one {
  background: #ff97C0;
  border-radius: 50%;
  position: absolute; top: 0px; left: 00px;
  width: 200px; height: 200px;
}

.ball-two {
  background: #0097C0;
  border-radius: 50%;
  position: absolute; top: 100px; left: 300px;
  width: 100px; height: 100px;
}


.container-bars {

}


.container-bars:hover .red-bar {
  transition-property: width;
  transition-duration: 1s;
  width: 300px;
}
.container-bars:hover .blue-bar {
  transition-property: width;
  transition-duration: 1s;
  width: 300px;
  transition-delay: 1s;
}
.red-bar {
  width: 100px;
  height: 100px;
  background: red;
  transition-property: width;
  transition-duration: 1s;
}

.red-bar:hover {
}

.blue-bar {
  width: 100px;
  height: 100px;
  background: blue;
  transition-property: width;
  transition-duration: 1s;
  transition-delay: 1s;
}

.blue-bar:hover {
}



HTML CSS 

Result
Skip Results Iframe

EDIT ON

html,
body {
width: 100%;
height: 100%;
}

div#main {
  position: relative;
  height: 200px;
  width: 200px;
  margin: auto;
}

div#main .content {
  position: absolute;
  text-align:center;
  width:200px;
  top:50%;
  transform:translate(0 -50%);
  font-size:24pt;
}

div#main .topleft {
  display: inline-block;
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0px;
  left: 0px;
  background: red;
  transition-property: transform;
  transition: ease;
  transition-duration: 1s;
}

div#main .topright {
  display: inline-block;
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0px;
  left: 100px;
  background: yellow;
  transition-property: transform;
  transition: ease;
  transition-duration: 1s;
}

/* Rotating Squares */
div#main .bottomleft {
  display: inline-block;
  position: absolute;
  width: 100px;
  height: 100px;
  left: 0px;
  top: 100px;
  background: blue;
  transition-property: transform;
  transition: ease;
  transition-duration: 1s;
}

div#main .bottomright {
  display: inline-block;
  position: absolute;
  width: 100px;
  height: 100px;
  left: 100px;
  top: 100px;
  background: green;
  transition-property: transform;
  transition: ease;
  transition-duration: 1s;
}


div#main:hover .topleft {
  transform: rotate(90deg);
  transform-origin: 0% 0%;
  transition-duration: 1s;
}
div#main:hover .topright {
  transform: rotate(-90deg);
  transform-origin: 100% 0%;
  transition-duration: 1s;
}
div#main:hover .bottomleft {
  transform: rotate(-90deg);
  transform-origin: 0% 100%;
  transition-duration: 1s;
}
div#main:hover .bottomright {
  transform: rotate(90deg);
  transform-origin: 100% 100%;
}

